<p>Sign In</p>
<form action="/song_searches/index" class="navbar-search pull-left" id="form1">
            <input type="text" placeholder="Enter Username" name="name" class="search-query span2" style="height: 27px;"></input>
			<input type="password" placeholder="Enter Password" name="name" class="search-query span2" style="height: 27px;"></input>&nbsp;&nbsp;
			<Button style="margin-top: -10px;">Submit</Button>
			
</form>

<div>
<a href="/song_searches/index"> Enter as a Guest</a>
			<a href="/users/new">New User: Register</a>
</div>

